header{
    background-color: #33697d;
}
.icons{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    padding-top: 20px;
}
.bi{
    color: white;
    max-width: 100%;
    max-height: 100%;
    width: 50px;
    height: 50px;
}
.menu{
    padding: 150px;
    color: white;
   text-align: center; 
}
.soul{
   border: 1px solid;
   border-left: 0;
   border-right: 0;
   width: fit-content;
   margin: auto;
} 
.opacity{
    opacity: 60%;
}
section{
     display: flex;
    justify-content: space-around;
    align-items: center;
}
.img{
    width: 50%;
}
.test{
    width: 50%;
}
.badge{
    width: 150px;
}
/***section2***/
.sect2{
    background-color: #f6f6f6;
    padding: 50px;
}
.title{
    text-align: center;
}
.container{
    margin-top: 100px auto;
    width: 60%;
    padding-top: 100px;
}
.row >div{
    height: 200px;
    width: 210px !important;
}
.text{
    color: #fff;
    height: 60;
}
.text svg{
    width: 100px;
    margin-top: 25%;
}
.div{
    background-color: #33697d ;
}
.container-fluid{
    margin: auto;
}
.contain {
    background-color: #3d6879; 
    width: 100%;
    height: 700px;
    padding-top:70px;
}

.block {
    width: 65%;
    height: 85%;
    background-color:#2e6879; 
    display: inline-flex;
    margin: 10px 250px auto ;
}

.form {
    width: 45%;
    height: 550px;
    background-color:#2e6879 ; 
    margin: auto;
    padding: 20px;
}
.blanc{
    color: white;
}

.info-form {
    width: 45%;
    height: 550px;
    margin: auto;
    display: inline-block;
}

.submit {
    background-color: red;
    border: none;
    float: right;
    margin: 20px 0;
    width: 110px;
    height: 35px;
    font-weight: bold;
    color:white;
}

.info {
    background-color: #61657d;
    width: 100%;
    height: 32%;
    margin: 10px auto;
    padding: 20px;
}

.info h2 {
    color:white;
} 

.info p {
    color: white;
}
.bg-dark{
    padding-bottom: 50px;
}
.bl{
    color: white;
    text-align: center;
    padding-top: 50px;
}
 .image-centre{
    width:50px;
    height:50px;
}